extends layout

block content
  article.container(role='main')
    .col-md-offset-3.col-md-6
      .panel.panel-default
        .panel-heading 寻找离我最近的全能销售网点
        .panel-body
          .row.form-group
            .col-xs-6
              input#coord-lat.text-right.form-control(type='text', value='22.849068', placeholder='十进制纬度')
            .col-xs-6
              input#coord-lng.text-left.form-control(type='text', value='113.216673', placeholder='十进制经度')
          .row.form-group
            .col-xs-6.text-right
              button#get_my_coord.btn.btn-default(type='button') 我当前的坐标
            .col-xs-6.text-left
              button#list_nearby_stores.btn.btn-default(type='button') 列出销售网点
    #results.col-md-offset-2.col-md-8.hidden
      .panel.panel-default
        .panel-heading 离我最近的全能销售网点
        table#stores_list.table.table-hover
          thead
            tr
              th #
              th 名称
              th 地址
              th 坐标
              th 距离(km)
          tbody
