extends layout

block content
  - var sizes = [20, 5, 60, 18, 8, 15]
  - each cities, province in stores_list
    - each stores, city in cities
      p #{province}::#{city}
      - each store in stores
        p
        - each value, index in store
          - if(typeof value === 'boolean')
            select
              option yes
              option no
          - else
            input(value=value, size=sizes[index])
