block variables

doctype 5
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title= title + " - 销售网点管理工具"
    link(rel='stylesheet', href='/vendor/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/stylesheets/bootstrap.theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/vendor/javascripts/zepto.min.js')
    script(src='javascripts/index.js')
    script(src='javascripts/stores.js')
  body
    nav.navbar.navbar-default(role='navigation')
      .container
          .navbar-header
            a.navbar-brand(href='/') 销售网点管理工具
          .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav
              li(class=page=='stores'?'active':'')
                a(href='/stores') 所有网点
    block content
