block variables

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title= title
    link(rel='stylesheet' href='/stylesheets/weixin.css')
  body
    .msg-wrapper
      block content
      .footer
        | &copy; 2013 
        a(href='http://www.qnnsafe.com/') 全能官网
