block variables
  title = "列表"

extends layout_weixin

block content
  .msg-container
    - each list, index in lists
      a.msg-item.blue_link(href="/lists/"+index)
        span.msg-text-only= index
