block variables
  title = "我附近的店"
  page = "nearby_stores"

extends layout

block content
  article.container(role='main')
    .col-md-offset-2.col-md-8
      .panel.panel-default
        .panel-heading
          .pull-left 寻找离我最近的全能销售网点
          .pull-right
            a(href='#', id='show_maps', data-show='显示地图▼', data-hide='隐藏地图▲') 显示地图▼
          .clearfix
        .panel-body
          .row
            .col-xs-12
              script(src='http://api.map.baidu.com/api?v=2.0&ak=D4b3d7bef9a51f3d40431f4aee37e6bf')
              #map.hide(style='margin: 0 0 15px; height: 300px;')
          .row.form-group
            .col-xs-6
              input#coord-lat.text-right.form-control(type='text', value='22.849068', placeholder='十进制纬度')
            .col-xs-6
              input#coord-lng.text-left.form-control(type='text', value='113.216673', placeholder='十进制经度')
          .row.form-group
            .col-xs-6.text-right
              button#get_my_coord.btn.btn-default(type='button') 我的坐标
            .col-xs-6.text-left
              button#list_nearby_stores.btn.btn-default(type='button') 列出网点
    #results.col-md-offset-2.col-md-8.hidden
      .panel.panel-default
        .panel-heading 离我最近的全能销售网点
        table#stores_list.table.table-hover.table-striped
          thead
            tr
              th #
              th 名称/地址
              th 距离/坐标
          tbody
