block variables
  - title = "所有网点"
  - page = "stores"

extends layout

block content
  article.container(role='main')
    .col-md-offset-1.col-md-10
      .panel.panel-default
        .panel-heading 全能销售网点
        script(src='http://api.map.baidu.com/api?v=2.0&ak=D4b3d7bef9a51f3d40431f4aee37e6bf')
        table#stores_list_all.table.table-hover.table-striped
          thead
            tr
              th #
              th 名称/地址
              th 坐标
          tbody
            tr
              td(colspan=3) 等待载入...
          tfoot
            tr
              td.text-center(colspan=3)
                button#load_more.btn.btn-default.btn-lg(type="button") 载入更多
